.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form > div {
    display: flex;
}
.link {
    flex: 1;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.message {
    color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}